<!DOCTYPE html>
{% load media %}
<html>
	<head>
		<meta charset="utf-8" />
		<title>buckets</title>
		{% css "styles/reset.css" %}
		{% css "styles/text.css" %}
		{% css "styles/960.css" %}
		{% css "styles/screen.css" %}
		{% css "styles/jquery.fancybox-1.3.1.css" %}
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		<div id="container">
			<header>
				{% if user.is_authenticated %}
					<div id="hey">
						<p>Hey, <span class="email">{{ user.email }}</span>, <a href="/logout/">logout</a> when you are done.</p>
					</div>
				{% endif %}
				<hgroup>
					<h1>buckets</h1>
					<h2>Amazon S3 content manager</h2>
				</hgroup>
				{% block nav %}{% endblock %}
			</header>
			<div id="content">
				{% block content %}{% endblock %}
				<div style="clear: both;"></div>
			</div>
			<div id="overlays">
				<div id="actions-box">
					<p>awesome actions!</p>
				</div>
			</div>
		</div>
		{% js "scripts/jquery-1.4.2.min.js" %}
		{% js "scripts/jquery.mousewheel-3.0.2.pack.js" %}
		{% js "scripts/jquery.fancybox-1.3.1.pack.js" %}
		{% js "scripts/buckets.js" %}
	</body>
</html>